include README.md
include LICENSE
include pyproject.toml
include requirements.txt
recursive-include nemus *.py
recursive-include examples *.py
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * .DS_Store
